
@{
    Layout = null;
}

@using TempData.Models
@using TempData.Helpers

@{ 
    var product = TempDataHelper.Get<Product>(TempData, "product") as Product;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>

<body>
    <h3>Single Values</h3>

    <table border="1">
        <tr>
            <td>Age</td>
            <td>@TempData["age"]</td>
        </tr>
        <tr>
            <td>Username</td>
            <td>@TempData["username"]</td>
        </tr>
    </table>

    <h3>Product Info</h3>
    <table>
        <tr>
            <td>Id</td>
            <td>@product.Id</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>@product.Name</td>
        </tr>
        <tr>
            <td>Price</td>
            <td>@product.Price</td>
        </tr>
    </table>
</body>
</html>
