
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
</head>

<body>
    Result 1: @ViewBag.result1
    <br />
    Result 2: @ViewBag.result2
    <br />
    Result 3: @ViewBag.result3
    <br />
    Result 4: @ViewBag.result4
    <br />
    Result 5: @ViewBag.result5
    <br />
</body>
</html>

