
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
</head>

<body>
    Age: @ViewBag.age
    <br />
    Full Name: @ViewBag.fullName
    <br />
    Status: @ViewBag.status
    <br />
    Price: @ViewBag.price
    <br />
    Birthday: @ViewBag.birthday.ToString()
</body>
</html>

